<nav class='navbar navbar-default navbar-fixed-top navigation' %>
  <%= link_to "The House of secrets", root_path, class:'navbar-brand', id:'root' %>
  <ul class='nav nav-pills navbar-right'>
    <li><%= link_to "Log in", login_path, id:'login_link' %></li>
    <li><%= link_to "Sign in", new_user_path, id:'signin_link' %></li>
    <li></li>
  </ul>
</nav>
