<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="container-fluid main">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
